[user]
	email = shigeo.sakamoto@gmail.com
	name = Shigeo Sakamoto
[core]
	excludesfile = /Users/shigeo/.gitignore
	editor = vim
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/shigeo/.stCommitMsg
